<!-- <mat-card class='container' *ngFor="let inf of data, let i = index">
  <mat-card-header>
    <h1>{{inf.name}}</h1>
  </mat-card-header>

  <mat-card-content>

    <p>{{inf.inf}}</p>
  </mat-card-content>

  <mat-card-footer>
    <button mat-flat-button>Next</button>
  </mat-card-footer>

</mat-card> -->
<!-- <div style="width: 100%; height: 70%; border: 1px solid red">
  <div
      class="rectangle"
      [ngStyle]="style"
      mwlResizable
      [validateResize]="validate"
      [enableGhostResize]="true"
      [resizeSnapGrid]="{ left: 1, right: 1 }"
      (resizeEnd)="onResizeEnd($event)"
    >
    <div
    class="resize-handle-right"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
    >
    </div>

  </div>

  <div class="sub-rectangle"
    mwlResizable
    [enableGhostResize]="true"
    [resizeEdges]="{ left: true }"
    (resizeEnd)="onResizeEnd($event)">
  </div>
</div> -->



<!-- <div
    class="rectangle"
    [ngStyle]="style"
    mwlResizable
    [validateResize]="validate"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{ left: 1, right: 1 }"
    (resizeEnd)="onResizeEnd($event)"
  >

  <div
  class="resize-handle-left"
  mwlResizeHandle
  [resizeEdges]="{ left: true }"
  >
  </div>
</div> -->


<div style="width: 100%; height: 500px; background: yellow;">
  <as-split direction="horizontal">
    <as-split-area size="40">
      <as-split direction="vertical">
        <as-split-area>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area size="60">
      <as-split direction="vertical">
        <as-split-area>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>