.container {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

mat-card-header mat-card-content{
  text-align: center;
}

mwlResizable {
  box-sizing: border-box;
}

button {
  left: 50%;
}

.rectangle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float: left;
  width: 30%;
  height: 70%;
  margin: auto;
  border: solid 2px black;
}

.sub-rectangle {
  width: 67.5%;
  height: 70%;
  border: 2px solid green;
  float: right;
}

.resize-handle-right, .resize-handle-left{
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}
