.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #0F4C81;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 40px;
  color: whitesmoke;
}

button {
  color: whitesmoke;
  margin-left: -1%;
}

.example-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
