.example-spacer {
  flex: 1 1 auto;
}

.content {
  background-color: #191919;//#0F4C81;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 40px;
  color: whitesmoke;
  display: flex; justify-content: space-between;
}

button {
  color: whitesmoke;
  margin-left: -1%;
}
