.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #A96F63;
  font-family: 'Jost', sans-serif;
  font-size: 40px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
