.form{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}
.btnSignup{
    outline: none;
    border-radius: 25px;
    width: 100%;
    background-color: #0F4C81;
    color: #ffffff;
    margin-top: 10%; 
    font-size: 15px;
    top: 50%;
}