table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.round-robin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  border-style: solid
}
