<div class="round-robin">

  <div class='input-group' *ngIf="!chartFlag">
    <div class='sub-content' *ngIf="buttonFlag">
      <h3>Number of Process: </h3>
      <mat-form-field>
        <mat-select [(value)]='numOfProcess'>
          <mat-option value=3>3</mat-option>
          <mat-option value=4>4</mat-option>
          <mat-option value=5>5</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)='confirmNOP()'>OK</button>
    </div>

    <div class='sub-content-1' *ngIf="!buttonFlag">
      <h3>Names</h3>
      <h3>Arrive</h3>
      <h3>Burst Time</h3>
      <h3>I/O</h3>
      <h3>Burst Time</h3>
      <br>
    </div>

    <div class='sub-content-2' *ngFor='let data of inputData; let i = index'>
      <input matInput type='text' name='name' [(ngModel)]="inputData[i].Name">
      <input matInput type='number' name='arrivetime' [(ngModel)]="inputData[i].ArriveTime">
      <input matInput type='number' name='bursttime1' [(ngModel)]="inputData[i].BurstTime1">
      <input matInput type='number' name='io' [(ngModel)]="inputData[i].IO">
      <input matInput type='number' name='bursttime2' [(ngModel)]="inputData[i].BurstTime2">
    </div>

    <div class='sub-content-2' *ngIf='!buttonFlag'>
      <button mat-raised-button (click)='add()'><mat-icon>add</mat-icon></button>
      <button mat-raised-button (click)='minus()'><mat-icon>remove</mat-icon></button>
    </div>

  </div>

  <button mat-raised-button (click)='save()' *ngIf='!buttonFlag && !chartFlag'>Save</button>

  <table mat-table [dataSource]="data" class="mat-elevation-z8" style="margin-top: 2vh" *ngIf="chartFlag">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <button mat-raised-button (click)="run()" *ngIf="inputFlag && !chartFlag">Run</button>
  <div style="margin-top: 5vh;">
    <mat-progress-bar mode="determinate" color="warn" value="100"></mat-progress-bar>
    <fusioncharts width="1000" height="700" type="gantt" [dataSource]="dataSource" *ngIf="chartFlag">
    </fusioncharts>
  </div>
  <div *ngIf="chartFlag" style="width: 100%; margin-top: 5vh;">
    <mat-grid-list cols="6" rowHeight="1:1">
      <mat-grid-tile *ngFor="let name of names; index as i">
        <mat-card style="margin: 2vh;">
          <mat-card-content>
            <p>
              Response Time {{name}} : {{responseTimeResult[i]}}
            </p>
            <p>
              Waiting Time {{name}} : {{waitingTimeResult[i]}}
            </p>
            <p>
              IO Time {{name}} : {{ioTimeResult[i]}}
            </p>
            <p>
              Total Time {{name}} : {{totalTimeResult[i]}}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card style="margin: 2vh;">
          <mat-card-content>
            <p>
              Response Time average : {{_.sum(responseTimeResult) / responseTimeResult.length}}
            </p>
            <p>
              Waiting Time average : {{_.sum(waitingTimeResult) / waitingTimeResult.length}}
            </p>
            <p>
              Total Time average : {{_.sum(totalTimeResult) / totalTimeResult.length}}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
