<p>algo-params works!</p>
<div class='container'>
<h1 style='text-align: center;'>{{data.algoName}}</h1>
  <h3>Number of Process: </h3>
  <mat-select>
    <mat-option value='2'>1</mat-option>
    <mat-option value='3'>1</mat-option>
    <mat-option value='4'>1</mat-option>
    <mat-option value='5'>1</mat-option>
  </mat-select>
  <!-- <mat-grid-list cols="5" rowHeight="6:5">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
  </mat-grid-list> -->
</div>
