<div class='container'>
  <h1 style='text-align: center;'>{{data.algoName}}</h1>
  <div class='sub-content'>
    <h3>Number of Process: </h3>
    <mat-form-field>
      <mat-select [(value)]='numOfProcess'>
        <mat-option value=2>2</mat-option>
        <mat-option value=3>3</mat-option>
        <mat-option value=4>4</mat-option>
        <mat-option value=5>5</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)='confirmNOP()'>OK</button>
  </div>

  <div class='sub-content-1'>
    <h3>No.</h3>
    <h3>Arrive</h3>
    <h3>CPU</h3>
    <h3>I/O</h3>
    <h3>CPU</h3>
    <br>
  </div>

  <div class='sub-content-2' *ngFor='let data of inputData; let i = index'>
    <p>P {{i + 1}}</p>
    <input matInput type='number' name='arrive' [(ngModel)]="inputData[i].arriveTime">
    <input matInput type='number' name='cpu' [(ngModel)]="inputData[i].cpu">
    <input matInput type='number' name='io' [(ngModel)]="inputData[i].io">
    <input matInput type='number' name='cpu2' [(ngModel)]="inputData[i].cpu2">
  </div>

  <div class='sub-content-2' *ngIf='!flag'>
    <button mat-flat-button (click)='add()'><mat-icon>add</mat-icon></button>
    <button mat-flat-button (click)='minus()'><mat-icon>remove</mat-icon></button>
  </div>

  <div>
    <button mat-button (click)='cancel()' style='float: left'><mat-icon>clear</mat-icon></button>
    <button mat-button (click)='save()' style='float: right'><mat-icon>done</mat-icon></button>
  </div>

